*.o
/client_server/gjoux
/client_server/quad_client
/client_server/quadratic
/client_server/server
/data/A
/data/A.idx
/data/B
/data/B.idx
/data/C
/data/C.idx
/demo.log
/tests/doctor_hashes
/tooling/bucketize
/tooling/check_shares
/tooling/match_solutions
/tooling/parse_shares
/tooling/sort_hashes
/tooling/split_shares
